{{>navAdm par=3 }}
<style>
    

    .dark2{
        white-space: nowrap
    } 


</style>
<main class="sesionesTabAdmin container col-sm-12 p-3 ">

    <h1>Catalogo</h1>
    <form action="/catalogo/" class="row p-3 sm" method="get">
    <div class="col"></div>

        <label class="col-sm-2">Buscar por:</label>
        <select name="type" id="" class="form-control col-sm-1 mr-5">
            <option value="1">Todo</option>
            <option value="2">Nombre del comitè</option>
            <option value="3">Fecha</option>
            <option value="4">Codigo</option>
        </select>
        <div class="row col-sm-5 input-group btn-group">
            <input class="form-control col m-0" placeholder="" type="search" name="param">
            <button class="btn btn-pri  m-0" type="submit">Buscar</button>
        </div>

        <div class="col"></div>

    </form>

    <table class="table table-hover">
        <tr class="dark table-bordered">
            <th class="col-1">Código de Clasificación</th>
            <th class="col-1">Serie Documental</th>
            <th class="col-1">Valor Documental</th>
            <th class="col-1">Plazo de Conservación</th>
            <th class="col-1">Disposición Documental</th>
            <th class="col-1">Clasificación de Información</th>
            <th class="col-1    ">Acciones</th>
            <th>Observaciones</th>
        </tr>
        <tr class="dark2">
            <th></th>
            <th></th>
            <th class="p-0">
                <table class="table-bordered"><tr>
                        <th class="vert dark2">Administrativo</th>
                        <th class="vert dark2">Legal</th>
                        <th class="vert dark2">Contable</th>
                </tr></table>
            </th>
            <th class="p-0">
                <table class="table-bordered"><tr>
                        <th class="vert dark2">En tramite</th>
                        <th class="vert dark2">Concentración</th>
                        <th class="vert dark2">Vigencia</th>
                        <th class="vert dark2">Archivo Historico</th>
                </tr></table>
            </th>
            <th class="p-0">
                <table class="table-bordered"><tr>
                        <th class="vert dark2">Eliminar</th>
                        <th class="vert dark2">Conservar</th>
                        <th class="vert dark2">Muestreo</th>
                </tr></table>
            </th>
            <th class="p-0">
                <table class="table-bordered"><tr>
                        <th class="vert dark2">Reservada</th>
                        <th class="vert dark2">Confidencial</th>
                </tr></table>
            </th>
            <th></th>
            <th></th>
        </tr>

        {{#each sesiones}}
        <tr class="table-bordered hover">
            <td>{{this.codigo}}</td>
            <td>{{this.comite}}</td>

            <td class="p-0 ">
                <table>
                    <tr>
                        {{#each this.valorDocumental }}
                            <th class="col-1">{{ this  }}</th>
                        {{/each}}
                    </tr>
                </table>
            </td>

            <td class="p-0">
                <table>
                    <tr>
                        <th class="col-1">{{this.enTram}}</th>
                        <th class="col-1">{{this.enConc}}</th>
                        <th class="col-1">{{this.enConc+this}}</th>
                        <th class="col-1">{{this.valHist}}</th>
                    </tr>
                </table>
            </td>

            <td class="p-0">
                <table>
                    <tr>
                        {{#each this.dispDocumental }}
                            <th class="col-1">{{ this  }}</th>
                        {{/each}}
                    </tr>
                </table>
            </td>

            <td class="p-0">
                <table>
                    <tr >
                        
                        <th class="col-1">{{ this.clasInfo.[0]  }}</th>
                        <th class="col-1">{{ this.clasInfo.[1]  }}</th>
                    </tr>
                </table>
            </td>
            <td>
                <div>
                    <a href="/catalogo/editar/{{this.idSesion}}" class="btn-mini btn-pri">Editar</a>
                    <a href="" class="btn-mini btn-sec" >ver</a>
                </div>
                
            </td>
            <td>{{this.obs}}</td>
            
        {{/each}}
    </table>

</main>


