{{>navAdm par=3 }}
<style>
    

    .dark2{
        white-space: nowrap
    } 


</style>
<main class="sesionesTabAdmin container col-sm-10 p-3 ">

    <h1>Catálogo</h1>
    <form action="/catalogo/" class="row p-3 sm" method="get">
    <div class="col"></div>

        <label class="col-sm-2">Buscar por:</label>
        <select name="type" id="" class="form-control col-sm-1 mr-5">
            <option value="1">Todo</option>
            <option value="2">Nombre del comitè</option>
            <option value="3">Fecha</option>
            <option value="4">Codigo</option>
        </select>
        <div class="row col-sm-5 input-group btn-group">
            <input class="form-control col m-0" placeholder="" type="search" name="param">
            <button class="btn btn-pri  m-0" type="submit">Buscar</button>
        </div>

        <div class="col"></div>

    </form>

    <table class="table table-hover">
        <tr class="dark table-bordered">
            <th class="c-2"><div>Código de Clasificación</div></th>
            <th class="c-2"><div>Serie Documental</div></th>
            <th class="col-3"><div>Valor Documental</div></th>
            <th class="col-3"><div>Plazo de Conservación</div></th>
            <th class="col-3"><div>Disposición Documental</div></th>
            <th class="col-2"><div>Clasificación de Información</div></th>
            <th class="col-2"><div>Acciones</div></th>
            <th class="col-2"><div>Observaciones</div></th>
        </tr>
        <tr class="dark2">
            <th></th>
            <th></th>
            <th class="p-0">
                <table class="table-bordered"><tr>
                        <th class="vert dark2"><div>Administrativo</div></th>
                        <th class="vert dark2"><div>Legal</div></th>
                        <th class="vert dark2"><div>Contable</div></th>
                </tr></table>
            </th>
            <th class="p-0">
                <table class="table-bordered"><tr>
                        <th class="vert dark2"><div>En trámite</div></th>
                        <th class="vert dark2"><div>Concentración</div></th>
                        <th class="vert dark2"><div>Vigencia</div></th>
                        <th class="vert dark2"><div>Archivo Histórico</div></th>
                </tr></table>
            </th>
            <th class="p-0">
                <table class="table-bordered"><tr>
                        <th class="vert dark2"><div>Eliminar</div></th>
                        <th class="vert dark2"><div>Conservar</div></th>
                        <th class="vert dark2"><div>Muestreo</div></th>
                </tr></table>
            </th>
            <th class="p-0">
                <table class="table-bordered"><tr>
                        <th class="vert dark2"><div>Reservada</div></th>
                        <th class="vert dark2"><div>Confidencial</div></th>
                </tr></table>
            </th>
            <th></th>
            <th></th>
        </tr>

        {{#each sesiones}}
        <tr class="table-bordered hover">
            <td>{{this.codigo}}</td>
            <td>{{this.comite}}</td>

            <td class="p-0 ">
                <table>
                    <tr>
                        {{#each this.valorDocumental }}
                            <td class="col-1">{{ this  }}</td>
                        {{/each}}
                    </tr>
                </table>
            </td>

            <td class="p-0">
                <table>
                    <tr>
                        <td class="col-1">{{this.enTram}}</td>
                        <td class="col-1">{{this.enConc}}</td>
                        <td class="col-1">{{this.vig}}</td>
                        <td class="col-1">{{this.valHist}}</td>
                    </tr>
                </table>
            </td>

            <td class="p-0">
                <table>
                    <tr>
                        {{#each this.dispDocumental }}
                            <td class="col-1">{{ this  }}</td>
                        {{/each}}
                    </tr>
                </table>
            </td>

            <td class="p-0">
                <table>
                    <tr >
                        
                        <td class="col-1">{{ this.clasInfo.[0]  }}</td>
                        <td class="col-1">{{ this.clasInfo.[1]  }}</td>
                    </tr>
                </table>
            </td>
            <td>
                <div>
                    <a href="/catalogo/editar/{{this.idSesion}}" class="btn-mini btn-pri">Editar</a>
                    <a href="" class="btn-mini btn-sec" >ver</a>
                </div>
                
            </td>
            <td>{{this.obs}}</td>
            
        {{/each}}
    </table>

</main>


