{{>navAdm par=3 }}
<style>
    

    .dark2{
        white-space: nowrap
    } 


</style>
<main class="sesionesTabAdmin container col-sm-10 p-3 ">

    <h1>Catálogo</h1>
    <form action="/catalogo/" class="row p-3 sm" method="get">
    <div class="col"></div>

        <label class="col-sm-2 " style="font-size:1.3rem">Buscar por:</label>
        <select name="type" id="type" class="form-control col-sm-1 mr-5">
            <option value="1">Todo</option>
            <option value="2">Nombre del comitè</option>
            <option value="3">Periodo</option>
            <option value="4">Codigo</option>
        </select>

        <div class="row col-sm-5 input-group btn-group" id="paramDiv">
            <input class="form-control col m-0" placeholder="" type="search" name="param">
            <button class="btn btn-pri  m-0" type="submit">Buscar</button>
        </div>

        <div class="col"></div>

    </form>

    <table class="table table-hover">
        <tr class="dark table-bordered">
            <th class="col-1"><div>Código de Clasificación</div></th>
            <th class="col-1"><div>Serie Documental</div></th>
            <th class="col-sm-1"><div>Valor Documental</div></th>
            <th class="col-sm-1"><div>Plazo de Conservación</div></th>
            <th class="col-sm-1"><div>Disposición Documental</div></th>
            <th class="col-sm-1"><div>Clasificación de Información</div></th>
            <th class="col-3"><div>Acciones</div></th>
            <th class="col-3"><div>Observaciones</div></th>
        </tr>
        <tr class="dark2">
            <th></th>
            <th></th>
            <th class="p-0">
                <table class="table-bordered"><tr>
                        <th class="c1 vert "><div>Administrativo</div></th>
                        <th class="c1 margin-l margin-r vert"><div>Legal</div></th>
                        <th class="c1 vert "><div>Contable</div></th>
                </tr></table>
            </th>
            <th class="p-0">
                <table class="table-bordered"><tr>
                        <th class="c2 vert "><div>En trámite</div></th>
                        <th class="c2  margin-l margin-r  vert"><div>Concentración</div></th>
                        <th class="c2  margin-r vert"><div>Vigencia</div></th>
                        <th class="c2 vert "><div>Archivo Histórico</div></th>
                </tr></table>
            </th>
            <th class="p-0">
                <table class="table-bordered"><tr>
                        <th class="c1 vert "><div>Eliminar</div></th>
                        <th class="c1 margin-l margin-r vert"><div>Conservar</div></th>
                        <th class="c1 vert "><div>Muestreo</div></th>
                </tr></table>
            </th>
            <th class="p-0">
                <table class="table-bordered"><tr>
                        <th class="c3  margin-l vert"><div>Reservada</div></th>
                        <th class="c3 vert "><div>Confidencial</div></th>
                </tr></table>
            </th>
            <th></th>
            <th></th>
        </tr>

        {{#each sesiones}}
        <tr class="table-bordered hover">
            <td>{{this.codigo}}</td>
            <td>{{this.comite}}</td>

            <td class="p-0 ">
                <table>
                    <tr>
                        {{#each this.valorDocumental }}
                            {{#ifeq this 'X'}}
                                <td class="casilla col-1">X</td>
                            {{else}}
                                <td class="transparente casilla col-1">_</td>
                            {{/ifeq}}
                        {{/each}}
                    </tr>
                </table>
            </td>

            <td class="p-0">
                <table>
                    <tr>
                        <td class="casilla col-1">{{this.enTram}}</td>
                        <td class="casilla col-1">{{this.enConc}}</td>
                        <td class="casilla col-1">{{this.vig}}</td>
                        {{#ifeq this.valHist 'X'}}
                                <td class="casilla col-1">X</td>
                            {{else}}
                                <td class="transparente casilla col-1">_</td>
                        {{/ifeq}}
                    </tr>
                </table>
            </td>

            <td class="p-0">
                <table>
                    <tr>
                        {{#each this.dispDocumental }}
                            {{#ifeq this 'X'}}
                                <td class="casilla col-1">X</td>
                            {{else}}
                                <td class="transparente casilla col-1">_</td>
                            {{/ifeq}}
                        {{/each}}
                    </tr>
                </table>
            </td>

            <td class="p-0">
                <table>
                    <tr class="casilla">
                        {{#ifeq this.clasInfo.[0] 'X'}}
                                <td class="casilla col-1">X</td>
                            {{else}}
                                <td class="transparente casilla col-1">_</td>
                        {{/ifeq}}
                        {{#ifeq this.clasInfo.[1] 'X'}}
                                <td class="casilla col-1">X</td>
                            {{else}}
                                <td class="transparente casilla col-1">_</td>
                        {{/ifeq}}
                    </tr>
                </table>
            </td>
            <td >
                <div class="row flex-nowrap centered">
                    <a href="/sesion/ver/{{this.idComite}}/{{this.idSesion}}" class="btn-mini btn-sec" >ver</a>
                    {{#ifeq this.borrado 0}}
                        <a href="/catalogo/editar/{{this.idSesion}}" class="btn-mini btn-pri">Editar</a>
                        {{#ifeq this.expired true}}
                            <a href="/sesion/ver/{{this.idComite}}/{{this.idSesion}}" class="btn-mini btn-dan" >Archivar</a>
                        {{/ifeq}}
                    {{/ifeq}}


                </div>
                
            </td>
            <td>{{this.obs}}</td>
            
        {{/each}}
    </table>

</main>
<script src="/js/cat.js"></script>
