{{>navAdm }}
<main class="form container col-sm-9 p-3 ">
    
    <h1>Comites</h1>
    
    <table class="table">
        <tr>
            <th>Comite</th>
            <th>Responsable del comite</th>
            <th>Acciones</th>
        </tr>
        {{#each comites}}
            <tr>
                <td>{{this.comite}}</td>

                <td>{{this.responsable}}</td>
                
                <td>
                    <a href="/comite/ver/{{this.idComite}}" class="btn btn-outline-primary">Ver</a>
                    <a href="/comite/editar/{{this.idComite}}" class="btn btn-outline-success">Editar</a>
                    <a href="/comite/borrar/{{this.idComite}}" class="btn btn-outline-danger">Borrar</a>

                </td>
            </tr>
        {{/each}}
    </table>
    <a href="/comite/crear" class="btn btn-primary">Nuevo Comite</a>
    <a href="/comite/restaurar" class="btn btn-outline-primary">Comites Eliminados</a>
</main>