{{>navUsr comites=comites nom=nom comAct=comAct}}
<form action='/sesion/{{{comAct.idComite}}}/crear' method='post' class="form container col-sm-9 p-3 "  enctype="multipart/form-data">
    <h1>Editar sesiòn</h1>
    {{#each err}}
        <div class="alert alert-danger" role="alert">-{{this}}</div>
    {{/each}} 
    <div class="mb-2">
    <label class="form-label">Asunto</label>
    <input type="text" required class="form-control" name="asunto" pattern="[^()/><\][\\\x22\x27,;|]+" title="no se permiten caracteres especiales" value={{sesion.asunto}}>
    <input type="hidden" name="numSesion" >
    </div>
    <div class="mt-4">
    <label class="form-label">Duraciòn</label>
        <div class="row">
            <div class="px-5">
                <label class="form-label">Del</label>
                <input type="date" name="fi" id="fi" required value={{{sesion.fechaInicio}}}> 
            </div>
            <div class="px-5">
                <label class="form-label">Al</label>
                <input type="date" name="fc" id='fc'required value={{{sesion.fechaCierre}}}> 
            </div>
        </div>
    </div>

    <h2 class="mt-5">Documentos relacionados</h2>
    <table class="table" id="tab">
        <tr>
            <th>Documento requerido</th>
            <th>Documento (Maximo 2mb)</th>
        </tr>
        <tr>
            <td>
                <p>Convocatoria</p>
            </td>
            <td>
                <input type="file" required class="form-control" name="convocatoria" accept="application/pdf" max-size="2000" >
            </td>
        </tr>

        <tr>
            <td>
                <p>Carpeta de trabajo</p>
            </td>
            <td>
                <input type="file" required class="form-control" name="carpeta_de_trabajo" accept="application/pdf" max-size="2000">
            </td>
        </tr>
        <tr>
            <td>
                <p>Acta Preliminar</p>
            </td>
            <td>
                <input type="file" required class="form-control" name="acta_preliminar" accept="application/pdf" >
            </td>
        </tr>
        <tr>
            <td>
                <p>Acta Final</p>
            </td>
            <td>
                <input type="file" required class="form-control" name="acta_final" accept="application/pdf" >
            </td>
        </tr>
        
    </table>
    <button type="submit" class="btn btn-pri">Guardar</button>
    <a href="/" class="btn btn-sec">Volver</a>

</form>

<script src="/js/sesion.crearYeditar.js"></script>