{{>navUsr comites=comites nom=nom comAct=comAct}}

<main class="form container col-sm-9 p-3 ">
   
    
    <h1>Sesiones</h1>
    {{#if comAct.esResp}}
        <a href="/sesion/crear/{{comAct.idComite}}" class="btn btn-pri">Nueva sesiòn</a>
    {{/if}}
   <table class="table table-hover table-bordered">
        <tr class="dark">
            <th class="col-1">Nombre del expediente</th>
            <th class="col-1">Numero de sesiòn</th>
            <th class="col-2">Fecha de inicio</th>
            <th class="col-2">Fecha de cierre</th>
            <th  class="col-3">responsable</th>
            <th class="col-3">Acciones</th>
        </tr>
        {{#each sesiones}}
            <tr>
                <td>{{{this.asunto}}}</td>
                <td>{{this.numSesion}}</td>
                <td>{{this.fechaInicio}}</td>
                <td>{{this.fechaCierre}}</td>
                <td>{{this.nombre}} {{this.apellidoP}} {{this.apellidoM}}</td>
                <td>
                    <a href="/sesion/ver/{{../comAct.idComite}}/{{this.idSesion}}" class="btn btn-pri">Ver</a>
                    {{#if ../comAct.esResp}}
                        <a href="/sesion/editar/{{../comAct.idComite}}/{{this.idSesion}}" class="btn btn-sec">Editar</a>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </table>
</main>

