{{#if isAdmin}}
    {{>navAdm par=3 }}
{{else}}
    {{>navUsr comites=comites nom=nom comAct=comAct}}
{{/if}}

<main class="form container col-sm-9 p-3 ">
    <h1>Detalles de la sesion</h1>
    <div class="mb-4 mt-3">
    <label class="form-label">Asunto</label>
    {{#if sesion.borrado}}
        <h4>{{{sesion.asunto}}} (sesión archivada)</h4>
    {{else}}
        <h4>{{{sesion.asunto}}}</h4>
    {{/if}}
    
    </div>

    <div class="mt-4 mb-4">
    <label class="form-label">Duraciòn</label>
        Del <b>{{sesion.fechaInicio}}</b> al <b>{{sesion.fechaCierre}}</b>
    </div>

    <h2 class="mt-5">Documentos relacionados</h2>
    <table class="table" id="tab">
        <tr>
            <th>Documento</th>
            <th>Fecha</th>
            <th>Enlace</th>
        </tr>
        {{#each doc}}
            {{if ../sesion.}}
            <tr>
                <td>
                {{this.tipoDocumento }}
                </td>     
                <td>{{this.fechaSubida}}</td>
                <td><a class="btn btn-pri" href="/Documento/{{../comAct.idComite}}/{{../sesion.numSesion}}/{{this.idTipoDoc}}">Ver Documento</a></td>
            </tr>
        {{/each}}
    </table>
    {{#if isAdmin}}
        <a href="/catalogo" class="btn btn-sec">Volver</a>
    {{else}}
        <a href="/" class="btn btn-sec">Volver</a>
    {{/if}}
</main>